body{
  background: linear-gradient(to bottom right, purple, pink);
}

.container{
  background-color: white;
  margin: auto;
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  box-shadow: 5px 6px 8px  purple;
}

img{
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-top: -150px;
  margin-left: 30px;
  box-shadow: 0 0 6px 8px rgb(172, 71, 172);
}

#sam{
  text-align: center;
}

table{
  display: inline-block;
  padding: 0 10px;
}

th, td{
  padding: 0 30px;
}

.flex-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 10px;
}

.ex{
  color: white;
  border: 1px solid transparent;
  border-radius: 50%;
  font-size: 15px;
  padding: 10px;
  margin:10px -5px;
}

.fa-facebook{
 background-color: rgb(99, 99, 206);
 box-shadow: 0 3px 10px rgb(99, 99, 206);
}

.fa-twitter{
  background-color: skyblue;
  box-shadow: 0 3px 17px skyblue;
}

.fa-instagram{
  background: linear-gradient(to bottom left, tomato, purple);
  box-shadow: 0 3px 10px purple;
}

.fa-behance{
  background-color: blue;
  box-shadow: 0 3px 17px blue ;
}

.fa-pinterest{
  background-color: black;
}

.fa-hexagon-nodes{
  background-color: black;
  box-shadow: 0 0 10px black;
}

.fa-link{
  background-color: tomato;
  box-shadow: 0 0 18px rgb(185, 133, 141);
}

.flex-button{
  display: flex;
  justify-content: center;
  gap: 150px;
  margin-top: 4%;
}

.flex-button a{
  text-decoration: none;
  color: white;
}

#one{
  background-color: skyblue;
  padding: 5px;
  width: 100px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 4px 5px skyblue;
}

#two{
  background-color: tomato;
  padding: 5px;
  width: 100px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 4px 5px tomato;
}
